<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Me</h2>
   <p>My name is Ihor Pohaidak. I want to become Front-End developer. This blog is based on the course NetNinja. However I have added a new CSS using Responsive Web Design - Media Queries. Also I have used HEROKU to deploy my application. Add .env file. Thank You!!! Have a GOOD DAY!!!</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>